@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #EFEDE6;
    --color-surface: #FFFFFF;
    
    --color-primary: #CC0000;
    --color-primary-600: #E60000;
    
    --color-text: #1a1a1a;
    --color-text-muted: #5e5e5e;
    
    --color-border: #e2e8f0;

    --gradient-bg: radial-gradient(circle at top right, rgba(204, 0, 0, 0.05), transparent 40%),
                   radial-gradient(circle at bottom left, rgba(204, 0, 0, 0.03), transparent 40%);
    
    body {
      color: var(--color-text);
      background-color: var(--color-bg);
      background-image: var(--gradient-bg);
      background-attachment: fixed;
      font-family: 'Public Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      min-height: 100vh;
      margin: 0;
    }
  }

  .dark {
    --color-bg: #121212;
    --color-surface: #1E1E1E;
    
    --color-primary: #CC0000;
    --color-primary-600: #E60000;
    
    --color-text: #e5e5e5;
    --color-text-muted: #a1a1aa;
    
    --color-border: #27272a;

    --gradient-bg: radial-gradient(circle at top right, rgba(204, 0, 0, 0.1), transparent 50%),
                   radial-gradient(circle at bottom left, rgba(204, 0, 0, 0.05), transparent 50%);
  }
}

@layer utilities {
  .radius-8 {
    border-radius: 8px;
  }
}
